body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; /* Tamanho base 16px */
}

h1{
    font-size: 2em;
    margin: 0;
}

h2{
    color: black;
}

.h2-in-em{
    font-size: 1.5em;
}

.h2-in-rem{
    font-size: 1.5rem;
}


section{
    padding: 45px 0;
}

.section-one{
    font-size: 32px;
}

footer{
    background: orangered;
    padding: 45px;
    color: #fff;
}

.ul-in-em {
    font-size: 1em;
}

.ul-in-rem {
    font-size: 1rem;
}

.container{
    width: 50%;
    margin: 0 auto;
}

.section-two{
    display: flex;
    font-size: 28px;
    width: 50%;
    margin: 0 auto;
}

header {
    background: orangered;
    padding: 45px 0;
    color: #fff;
}

.box {
    width: 20%;
    height: 100px;
    margin: 10px;
    color: white;
    text-align: center;
    padding: 20px;
}

.boxrem {
    background: red;
    font-size: 1rem; /* 1rem igual ao tamanho definido no body */
}

.boxem {
    background: blue;
    font-size: 1em; /* 1rem igual ao tamanho definido no elemento pai */
}

@media(max-width: 600px) {
    .container {
        flex-direction: column;
    }
}
