/* html{
    height: 100%;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
    width: 100%;
}

.title {
    color: rebeccapurple;
}

.col{
    margin: 10px;
    color: white;
    padding: 20px;
    margin: 5px;
    height: 100%;
    background: green;
}

.sidebar{
    display: flex;
    height: 100%;
}

/* Pegar qualquer elemento filho na posição 2 */
.sidebar >*:nth-child(2){
    flex-grow: 1;
    flex-shrink: 1;
}